@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-height: 100vh;
  background-color: #222;
  font-family: 'Open Sans', sans-serif;
}

a,
a:link,
a:visited,
a:hover,
a:active {
  height: 100%;
  width: 100%;
  display: block;
  color: inherit;
  text-decoration: none;
}

.navbar {
  margin-top: 100px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: flex-start;

  .menu {
    width: 600px;
    position: absolute;
    border-top: 2px solid hsl(100,100,40);  
    border-image: linear-gradient(90deg, rgb(163, 236, 126) 25%,rgb(66, 238, 250) 50%, rgb(243, 113, 255) 75%) 1;
    box-shadow: 0px 5px 20px -5px rgba(0,0,0,0.3);
    display: flex;
    flex-direction: row;
    list-style: none;
    
    &__item {
      width: 100%;
      padding: 10px 15px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #333;
      color: white;
      transition: .2s;

      &:hover {
        background: hsl(200,00,50);
        color: #000;
        cursor: pointer;
      }
    }
  }
}

.submenu {
  width: 240px;
  transform: translateX(180px);
  border: 1px solid #999;
  border: 1px solid transparent;
  box-shadow: 0px 10px 20px -5px rgba(0,0,0,0.3);
  border-radius: 5px;
  position: absolute;
  top: 42px;
  left:0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  overflow: hidden;
  transition: .3s ease-out;
  background-size: 300% 300%;
  opacity: 0;
  visibility: hidden;
  animation: bgmove 5s ease infinite;
  z-index: -1;
  pointer-events: none;
  
  &--active {
    visibility: visible;
    opacity: 1;
    z-index: 9; 
    pointer-events: auto;
    }
    
  &__item {
    width: 100%;
    padding: 10px 15px;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    transition: .2s;

    &:not(:last-child) {
      border-bottom: 1px solid hsl(0,0,10);
      }

    &:first-child {
        border-radius: 5px 5px 0 0;
      }

    &:last-child {
        border-radius: 0 0 5px 5px;
      }

    &:hover {
        background: hsl(200,00,50);
        color: #000;
        cursor: pointer;
      }
    }
}

@keyframes bgmove {
	0% {
		background-position: 10% 50%;
	}
	50% {
		background-position: 90% 50%;
	}
	100% {
		background-position: 10% 50%;
	}
}

